@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'poppins';
}

.section {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

td {
  vertical-align: middle;
}

.card-header {
  background-color: #05445e;
  align-items: center;
}

tbody {
}

a,
.nav-link {
  text-decoration: none;
  color: #d4f1f4;
  transition: 0.4s;
  cursor: pointer;
}

.nav-link:hover {
  transform: scale(1.1);
  color: white;
}

.text-center {
  padding-bottom: 0;
}

a.navbar-brand:hover {
  color: white;
}

h4.text-center {
  color: #d4f1f4;
  margin: 0;
}

a.nav-link.active {
  transform: scale(1.2);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}
